body{
    margin: 0px;
    padding: 0px;
}
li{
    display: inline;
    margin: 3px;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
nav{
    text-align: center;
    border: 1px solid black;
    background-color: black;
}